@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');

.loading .circular {
  border: 8px solid #e8e8e8;
  border-top-color: #0290ff;
  color: transparent;
  width: 5.25rem;
  height: 5.25rem;
  border-radius: 50%;
  animation: spin infinite 2s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Book.js styling */
.lesson_panel {
  border: 1px solid #e8e8e8;
  background: #fff;
  padding: 2rem 2.188rem 0.625rem 0.688rem;
  margin: 2.313rem 3.25rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lesson_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.raph {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.category {
  color: #121212;
  opacity: 0.5;
  font-size: 0.975rem;
  font-weight: 700;
}

.title {
  color: #121212;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: -0.2px;
}

.author,
.action li button {
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.action {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 0.7rem;
}

.action li {
  border-right: 2px solid #e8e8e8;
  padding: 0.2rem 1rem;
}

.action li:nth-child(1) {
  padding-left: 0;
}

.action li:nth-child(3) {
  border-right: none;
}

.action li button {
  border: none;
  background: transparent;
  cursor: pointer;
}

/* progress */

.progress {
  display: flex;
  align-items: center;
  gap: 0.81rem;
  border-right: 3px solid #e8e8e8;
}

.progress_pic {
  width: 4.25rem;
  height: 4.25rem;
}

.progress_content {
  display: flex;
  flex-direction: column;
}

.progress_text,
.progress_complete {
  color: #121212;
}

.progress_text {
  font-size: 2rem;
}

.progress_complete {
  opacity: 0.5;
  font-size: 0.975rem;
}

.current {
  display: flex;
  flex-direction: column;
  gap: 0.41rem;
  padding: 0 4rem;
}

.current_1,
.chapter {
  color: #121212;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.current_1 {
  opacity: 0.5;
  font-size: 0.813rem;
  text-transform: uppercase;
}

.chapter {
  font-size: 1rem;
}

.btn_upgrade {
  width: 11.5rem;
  height: 2.063rem;
  background: #0290ff;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

/* AddBooks.js styling */
.add_form {
  padding: 0 8rem;
  font-family: 'Montserrat', sans-serif;
}

.add_form h2 {
  color: #888;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.18px;
  margin-right: 10px;
  margin-left: -77px;
}

.form {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 2.813rem;
  border: 1px solid #e8e8e8;
  font-size: 1.1rem;
  letter-spacing: 0.15px;
  border-radius: 4px;
  padding: 10px 15px;
  outline: none;
  margin-left: -78px;
  margin-right: 90px;
}

input::placeholder {
  color: #c4c4c4;
}

.input_title {
  padding: 10px 65px;
}

.input_author {
  padding: 10px 65px;
}

.input_category {
  padding: 10px 15px;
  outline: none;
  border: 1px solid #e8e8e8;
  font-size: 1.1rem;
  letter-spacing: 0.15px;
  margin-right: 5px;
}

.btn_submit {
  padding: 10px 15px;
  background: #0290ff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-right: -78px;
}

@media only screen and (min-width: 900px) {
  .lesson_content {
    display: flex;
    align-items: center;
    gap: 14rem;
  }

  .raph {
    display: flex;
    justify-content: space-between;
  }

  .progress {
    display: flex;
    align-items: center;
    border-right: 3px solid #e8e8e8;
    padding-right: 150px;
  }
}

@media only screen and (min-width: 1400px) {
  .lesson_panel {
    border: 1px solid #e8e8e8;
    background: #fff;
    padding: 2rem 2.188rem 0.625rem 0.688rem;
    margin: 2.313rem 3.25rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .lesson_content {
    display: flex;
    align-items: center;
    gap: 14rem;
  }

  .raph {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
  }

  .progress {
    display: flex;
    align-items: center;
    gap: 0.81rem;
    border-right: 3px solid #e8e8e8;
    padding-right: 300px;
  }
}

@media only screen and (min-width: 1800px) {
  .lesson_panel {
    border: 1px solid #e8e8e8;
    background: #fff;
    padding: 2rem 2.188rem 0.625rem 0.688rem;
    margin: 2.313rem 3.25rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .lesson_content {
    display: flex;
    align-items: center;
    gap: 40rem;
  }

  .raph {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
  }

  .progress {
    display: flex;
    align-items: center;
    gap: 0.81rem;
    border-right: 3px solid #e8e8e8;
    padding-right: 400px;
  }

  .input_title {
    width: 25.5rem;
  }

  .input_author {
    width: 10.5rem;
  }

  .input_category {
    width: 18.815rem;
    outline: none;
    border: 1px solid #e8e8e8;
    font-size: 1.1rem;
    letter-spacing: 0.15px;
    margin-right: 5px;
  }

  .ekpsini {
    margin: 0 25px;
  }
}
